[flake8]
ignore = BLK100

# flake8-quotes:
# Use double quotes as our default to comply with black, we like it and
# don't want to use single quotes anymore.
# We would love to configure this via our pyproject.toml but flake8-3.8 does
# not support it yet.
inline-quotes = double
multiline-quotes = double
docstring-quotes = double
avoid-escape = True

# flake8-docstrings
# Use the Google Python Styleguide Docstring format.
docstring-convention = google

exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    venv,
    docs,
    examples,
    test

max-line-length = 120
