# Byte-compiled / optimized / DLL files
*.py[cod]

# PyCharm project files
.idea/

# Vim / Notepad++ temp files
*~

# Specific dot directories to ignore (but not .github)
.pytest_cache/
.mypy_cache/
.tox/
.venv/
.coverage/

*.egg-info
# PyInstaller output
build/
dist/
*.spec

# PyBuilder output
.build/
result/

# Coverage output
.coverage
/venv/
venv_python

# Docs
docs_src/_build/
/run_pycharm.bat


# windsurf rules
.windsurfrules
