name: Documentation

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install --upgrade pip && python -m pip install -U pip poetry
      - run: poetry --version
      - run: poetry install
      - name: Publish docs
        run: |
          gh --version
          poetry run mkdocs gh-deploy --remote-branch gh-pages
